.about{
  display: flex;
}
.about-main{
  padding: 0 18px 137px 100px;
  & h1{
      font-size: 36px;
      color: #244D4D;
      margin-bottom: 20px;
  }
  & h2{
      font-size: 20px;
      color: #244D4D;
      margin-bottom: 10px;
  }
  & h3{
      margin-bottom: 40px;
  }
}
.about-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-item{
  list-style: none;
  gap: 20px;
  display: flex;
  
}