@use './header';
@use './info';
@use './companies';
@use './about';
@use './popular';
@use './all_furniture';
@use './customers';
@use './subscribe';
@use './footer';

body{
    background: #fcfbff;
    padding: 0;
    margin: 0;
}

h3{
    font-weight: 400;
    font-size: 20px;
    font-family:DM Sans;
    color: #244D4D;
}

div{
    font-family: Montserrat;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}